
@{
    ViewBag.Title = "Splash";
}

<div class="container" id="about">
    <div class="content" style="max-width:700px">
        <p>Sign up to have your Dog Washed</p>

        <p>We have been washing dogs for over 1000 Dog years</p>
        <div class="w3-panel w3-leftbar w3-light-grey">
        </div>
        <img src="~/img/golden.jpg" style="width:100%;max-width:1000px" class="w3-margin-top">
        <p><strong>Opening hours:</strong> everyday from 6am to 5pm.</p>
    </div>
</div>
